<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.archermind.os"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="com.archermind.os.AidlDemoActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="android.os.VirusVerifierService"
            android:enabled="true"
            android:isolatedProcess="true"
            android:process=":myservice"
            android:exported="true">
            <intent-filter>
                <action android:name="com.archermind.aidl.MyService"/>
            </intent-filter>
        </service>

        <receiver
            android:name="com.archermind.os.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.hisense.tv.search" />
            </intent-filter>
        </receiver>
    </application>

</manifest>